button {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, silver, gray, silver, beige, silver, gray, silver, beige
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

h1 {
    color: azure;
}

h2 {
    color: azure;
}

.container {
    display: space;
    justify-content:space-evenly;
    background-color: gray;
    border-radius: 20px;
    padding: 100px 200px;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(silver, gray, beige, silver);
}